{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>
        Moths are a group of insects that includes all members of the order Lepidoptera that are not butterflies.[1] They were
        previously classified as suborder Heterocera, but the group is paraphyletic with respect to butterflies (suborder
        Rhopalocera) and neither subrdinate taxa are used modern classifications. Moths making up the vast majority of the
        order. There are thought to be approximately 160,000 species of moth,[2] many of which have yet to be described. Most
        species of moth are nocturnal, but there are also crepuscular and diurnal species.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h4>Angle Shade Moth <span><em>Phlogophora meticulosa</em></span></h4>
            <p>
                This species has a wingspan of 45 to 52 mm and the forewings are very distinctively shaped with a sharply pointed apex. The
                common name is derived from the characteristic markings on the forewings: the base colour is buffish, brown towards the
                termen, and is marked with a bold V-shaped pink-and-green marking. Despite this bright colouring, the angular markings
                provide excellent disruptive patterning camouflage. The hindwings are whitish with darker venation.
            </p>
        </div>
    <div class="col-md-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Phlogophora_meticulosa01.jpg" alt="Angle Shade Moth" aria-label="Picture of Angle Shade Moth">
    </div>
    </div>
<br>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/%281992%29_Small_Elephant_Hawk-moth_%28Deilephila_porcellus%29_%287484889294%29.jpg/220px-%281992%29_Small_Elephant_Hawk-moth_%28Deilephila_porcellus%29_%287484889294%29.jpg" alt="Small Elephant Hawk Moth" aria-label="Image of small elephant hawk moth">
        </div>
        <div class="col-md-7">
            <h4>Small Elephant Hawkmoth <span><em>Deilephila porcellus</em></span></h4>
            <p>
                The wingspan is 45 to 51 millimetres (1.8 to 2.0 in). The moth flies from May to July depending on the location. The forewings
                are ochreous with a faint olive tinge; the front margin is edged and blotched with pinkish, and there is a broad but
                irregular band of the same colour on the outer margin. The hindwings are blackish on their upper margin, pinkish on
                their outer margin, and ochreous tinged with olive between. The fringes are chequered whitish, sometimes tinged with
                pink. The head, thorax, and body are pinkish, more or less variegated with olive; the thorax has a patch of white hairs
                above the base of the wings. It is highly variable in colouration. In drier and warmer and arid areas of Asia Minor and
                Central Asia the pink colouration is absent. Form rosea Zerny is intermediate; f. indistincta Tutt is pinkish grey; f.
                suellus is yellowish sandy buff.
            </p>
        </div>
    </div>
{% endblock %}