{% extends "base.html" %}
{% block content %}


<h2>{{ page_title }}</h2>
<p>
    Moths are a group of insects that includes all members of the order Lepidoptera that are not butterflies.[1] They
    were
    previously classified as suborder Heterocera, but the group is paraphyletic with respect to butterflies (suborder
    Rhopalocera) and neither subrdinate taxa are used modern classifications. Moths making up the vast majority of the
    order. There are thought to be approximately 160,000 species of moth,[2] many of which have yet to be described.
    Most
    species of moth are nocturnal, but there are also crepuscular and diurnal species.
</p>

{% for moth in moths %}

<div class="row featurette">

    {% if loop.index % 2 != 0 %}

        <div class="col-md-7">
            <h3><a href="/about/{{ moth.url }}">{{ loop.index }}. {{ moth.name }}</a></h3>
            <p>{{ moth.description }}</p>
        </div>
        <div class="col-md-5">
            <img src="{{ moth.image_source }}" alt="" class="featurette-image image-responsive">
        </div>
    
    {% else %}

        <div class="col-md-5">
            <img src="{{ moth.image_source }}" alt="" class="featurette-image image-responsive">
        </div>
        <div class="col-md-7">
            <h3><a href="/about/{{ moth.url }}">{{ loop.index }}. {{ moth.name }}</a></h3>
            <p>{{ moth.description }}</p>
        </div>

    {% endif %}

</div>

<hr class="featurette-divider">

{% endfor %}

{% endblock %}